
# VS
.vs/
*.suo
*.user
*.VC.db
*.VC.opendb

# CMake build dirs
build*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
*.cmake
*.slnx

# MSVC outputs
Debug/
Release/
x64/
*.obj
*.pdb
*.ilk
*.tlog
*.log
*.idb
*.exp
*.lib
*.dll
*.exe
